@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="background-color:purple; color:white">
        <h1 class="display-4">Leave Management System With ASP.Net Core 3.1</h1>
    </div>
    <div class="text-left" style="background-color:papayawhip; color:brown">
        <h5>System for employees:</h5>
        <ul>
            <li>Registeration &amp; Login</li>
            <li>Applying for leaves</li>
            <li>
                <h5>For Admins management:</h5>
                <ul>
                    <li>Leave types</li>
                    <li>Leave Requests</li>
                    <li>Leave allocations</li>
                </ul>
                
            </li>
        </ul>
    </div>
    <footer>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</footer>
</div>
